@model TDM.BLL.Model.EmployeeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/select2.css" rel="stylesheet" />
<link href="~/Content/jquery-confirm.css" rel="stylesheet" />

<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/jquery-confirm.js"></script>
<div style="margin-top:0px; width:100%">
    <div id="notifSuccess_outModal" class="alert alert-success" style="display:none" role="alert">
        <strong>Success!</strong> <label for="lblScs_outModal"></label>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div id="notifErr_outModal" class="alert alert-danger" style="display:none" role="alert">
        <strong>Error!</strong> <label for="lblErr_outModal"></label>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="page-title">
    
    <div>
        <h1><i class="fa fa-users"></i> Master Employee</h1>
        <p>List Employee</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <button id="btnAddEmployee" class="btn btn-link"><i class="fa fa-user"></i> Add Employee</button>
            <div class="row">
                <div>
                    <table class="table table-responsive table-bordered" width="100%" id="tblEmployee">
                        <thead style="text-align:center; background-color:#000000; color:#ffffff">
                            <tr>
                                <th style="text-align:center">Id</th>
                                <th style="text-align:center">Emp No</th>
                                <th style="text-align:center">Name</th>
                                <th style="text-align:center">Report To</th>
                                <th style="text-align:center">Dept</th>
                                <th style="text-align:center">Role</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="mdlAdd" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="notifSuccess" class="alert alert-success" style="display:none" role="alert">
                <strong>Success!</strong> Your Data saved successfull.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="notifErr" class="alert alert-danger" style="display:none" role="alert">
                <strong>Error!</strong> <label for="lblErr"></label>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add New Employee</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Employee ID</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="tbEmpID" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmployeeNo" class="col-sm-2 control-label">Employee No</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="tbEmpNo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmployeeName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="tbEmpName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmployeeName" class="col-sm-2 control-label">Department</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="tbDept">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmployeeName" class="col-sm-2 control-label">Report To</label>
                        <div class="col-sm-4">
                            <select class="form-control col-md-7" id="selReportTo" style="width:60%" name="selReportTo"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmployeeName" class="col-sm-2 control-label">Role</label>
                        <div class="col-sm-4">
                            <select class="form-control col-md-7" id="selRole" style="width:60%" name="selRole"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmployeeName" class="col-sm-2 control-label">Active</label>
                        <div class="col-sm-3">
                            <input type="checkbox" id="chkIsActive" class="checkbox-inline" value="Active"><br />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var arr_Employee = [];
    var arr_Role = [];
    var arr_report_to = [];
    var tbEmployee;
    $(document).ready(function () {
        BindGrid();
        BindReportTo();
        BindRoleDdl();
        $('#btnAddEmployee').click(function (e) {
            $('#mdlAdd').modal({
                backdrop: 'static'
            });
        });

        $('#btnClose').click(function (e) {
            location.reload();
        });

        $('#btnSave').click(function (e) {
            var _empNo = $('#tbEmpNo').val();
            var _empName = $('#tbEmpName').val();
            var _reportTo = $('#selReportTo').val();
            var _roleApps = $('#selRole').val();
            var _id = $('#tbEmpID').val();
            var _dept = $('#tbDept').val();
            if (window.FormData != undefined) {
                var form_data = new FormData();
                form_data.append("EmpId", _id)
                form_data.append("EmpNo", _empNo);
                form_data.append("EmpName", _empName);
                form_data.append("ReportTo", _reportTo);
                form_data.append("Role", _roleApps);
                form_data.append("Department", _dept);
                form_data.append("IsActive", $('#chkIsActive').is(':checked'));
                $.ajax({
                    url: '/Employee/AddOrUpdateEmployee',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: form_data,
                    async: "true",
                    success: function (result) {
                        if (result.Status == "" || result.Status == "SUCCESS") {
                            $('#notifSuccess').show();
                        }
                        else {
                            $("label[for = lblErr]").text(result.Status);
                            $('#notifErr').show();
                        }
                    }

                });
            }
            else {
                $("label[for = lblErr]").text("Your browser is not support Form Data, Please Update!");
                $('#notifErr').show();
            }
        });
    });

    function BindReportTo() {
        $.ajax({
            type: 'GET',
            url: '@Url.Content("/AjaxData/GetAllEmployee")',

            success: function (response) {
                arr_report_to = response.Data;

                $('#selReportTo').select2({
                    data: arr_report_to
                });
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }

        });

    }

    function BindRoleDdl() {
        $.ajax({
            type: 'GET',
            url: '@Url.Content("/AjaxData/GetUserRole")',

            success: function (response) {
                arr_Role = response.Data;
                $('#selRole').select2({
                    data: arr_Role
                });

            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }

        });

    }

    function BindGrid() {
        $.ajax({
            type: 'GET',
            url: '@Url.Content("/Employee/ListEmployee")',
            success: function (response) {

                arr_Employee = response.Data;
                tbEmployee = $('#tblEmployee').DataTable({
                    data: arr_Employee,
                    destroy: true,
                    columns: [
                        { data: "Id", "visible": false },
                        { data: "EmpNo" },
                        { data: "EmpName" },
                        { data: "ReportTo" },
                        { data: "RoleAppsName" },
                        { data: "Dept" },

                        {
                            "data": null,
                            "targets": -1,
                            "render": function (data, type, full) {
                                return "<a  onclick='Edit(" + full['Id'] + ")' id='btnEdit" + full['Id'] + "'><i class='fa fa-edit'></i></a>" +
                                  " | <button onclick='Delete(" + full['Id'] + ")' ><i class='fa fa-trash'></i></button>";
                            },
                            "bSearchable": true,
                            "sortable": false

                        }

                    ],
                    processing: true,
                    dom: '<"top"f>rt<"bottom"p and i><"clear">',
                    buttons: [
                            'print', 'excel'
                    ]
                });

            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }


        });
    }

    function DeleteEmployee(Id) {
        $.ajax({
            url: '/Employee/RemoveEmployee?empid=' + Id,
           
            success: function (result) {
                if (result.Status == "SUCCESS" || result.Status=="") {
                    $("label[for = lblScs_outModal]").text("Data Deleted Successfull");
                    $('#notifSuccess_outModal').show();
                    location.reload();
                }
                else {
                    $("label[for = lblErr_outModal]").text(result.Status);
                    $('#notifErr_outModal').show();
                }
            }
        });
    }

    var Edit = function (ID) {
        $.ajax({
            url: '/Employee/GetEmployeeById?empid=' + ID,
            method: 'GET',
            success: function (result) {
                if (result.Status == "SUCCESS") {
                    $('#tbEmpID').val(result.EmpId);
                    $('#tbEmpNo').val(result.EmpNo);
                    $('#tbEmpName').val(result.EmpName);
                    $('#tbDept').val(result.EmpDept);
                    $('#selReportTo').val(result.EmpReportTo).trigger('change');
                    $('#selRole').val(result.EmpRole).trigger('change');
                    if (result.EmpActive == true) {
                        $('#chkIsActive').attr('checked', true);
                    }
                    else {
                        $('#chkIsActive').attr('checked', false);
                    }
                    $("#mdlAdd").modal({
                        backdrop: 'static',
                        keyboard: false
                    }, 'show');
                }
            },
            error: function (xml, message, text) {
                toastr.error("Msg: " + message + ", Text: " + text);
            }
        });
        return false;
    }

    var Delete = function (ID) {

        $.confirm({
            title: 'Delete Confirmation!',
            theme:'MOdern',
            content: 'Are You sure to delete this data ?',
            buttons: {
                confirm: function () {
                    DeleteEmployee(ID);
                },
                cancel: function () {
                    
                },
            }
        });

        return false;
    }

    function reposition() {
        var modal = $(this),
            dialog = modal.find('.modal-dialog');
        modal.css('display', 'block');

        // Dividing by two centers the modal exactly, but dividing by three
        // or four works better for larger screens.
        dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
    }
    // Reposition when a modal is shown
    $('.modal').on('show.bs.modal', reposition);
    // Reposition when the window is resized
    $(window).on('resize', function () {
        $('.modal:visible').each(reposition);
    });
</script>
